body {
    /*
    background-color: powderblue;
    */
}

h1 {
    background-color:#000000;       /*taustan väri*/
    color: rgb(209, 244, 244);      /*tekstin väri*/
    font-family: verdana;             /*fontti*/
    font-size: 40px;                  /*fonttikoko*/
    border: 1rem ridge #000000;     /*reunus*/
    padding: 30px;                    /*sisärajat*/
    margin: 50px;                     /*ulkorajat*/
    



    /*
    rem = root element measurement, mikä tämä on?
    */
}

p {
    color: red;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
color: rgb(113, 113, 113);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: rgb(213, 130, 130);
background-color: transparent;
text-decoration: underline;
}